[Unit]
Description=NodeJS Sample Application
After=network.target

[Service]
ExecStart=/home/vagrant/sync/src/app.js
Restart=always
User=vagrant
Group=vagrant

[Install]
WantedBy=multi-user.target
